<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="stories-slider stories-slider-perspective stories-slider-in">
        <div class="swiper swiper-cube swiper-3d swiper-initialized swiper-horizontal swiper-watch-progress">
          <div class="swiper-wrapper" style="transform-origin: 50% 50% -207px; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); --swiper-cube-translate-z:0px; transition-duration: 0ms;">
            <!-- specific user stories -->
            <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 414px; transform: rotateX(0deg) rotateY(0deg) translate3d(0px, 0px, 0px); transition-duration: 0ms;">
              <div class="swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
                <div class="swiper-wrapper" style="transform: translate3d(-828px, 0px, 0px); transition-duration: 0ms;">
                  <!-- user's single story -->
                  <div class="swiper-slide" style="width: 414px;">
                    <a href="#" class="stories-slider-user">
                      <div class="stories-slider-user-avatar">
                        <img src="avatars/mark.jpg">
                      </div>
                      <div class="stories-slider-user-name">mark_johnson</div>
                      <div class="stories-slider-user-date">21h</div>
                    </a>
                    <div class="stories-slider-actions">
                      <button class="stories-slider-close-button"></button>
                    </div>
                    <div class="stories-slider-content">
                      <img src="images/food-1.jpg">
                    </div>
                  <div class="stories-slider-button stories-slider-button-prev"></div><div class="stories-slider-button stories-slider-button-next"></div></div>
                  <!-- user's single story -->
                  <div class="swiper-slide swiper-slide-prev" style="width: 414px;">
                    <a href="#" class="stories-slider-user">
                      <div class="stories-slider-user-avatar">
                        <img src="avatars/mark.jpg">
                      </div>
                      <div class="stories-slider-user-name">mark_johnson</div>
                      <div class="stories-slider-user-date">12h</div>
                    </a>
                    <div class="stories-slider-actions">
                      <button class="stories-slider-close-button"></button>
                    </div>
                    <div class="stories-slider-content">
                      <img src="images/food-2.jpg">
                    </div>
                  <div class="stories-slider-button stories-slider-button-prev"></div><div class="stories-slider-button stories-slider-button-next"></div></div>
                  <!-- user's single story -->
                  <div class="swiper-slide swiper-slide-active" style="width: 414px;">
                    <a href="#" class="stories-slider-user">
                      <div class="stories-slider-user-avatar">
                        <img src="avatars/mark.jpg">
                      </div>
                      <div class="stories-slider-user-name">mark_johnson</div>
                      <div class="stories-slider-user-date">2h</div>
                    </a>
                    <div class="stories-slider-actions">
                      <button class="stories-slider-close-button"></button>
                    </div>
                    <div class="stories-slider-content">
                      <video src="video.mp4" playsinline="" preload="metadata"></video>
                    </div>
                  <div class="stories-slider-button stories-slider-button-prev"></div><div class="stories-slider-button stories-slider-button-next"></div></div>
                  <!-- user's single story -->
                  <div class="swiper-slide swiper-slide-next" style="width: 414px;">
                    <a href="#" class="stories-slider-user">
                      <div class="stories-slider-user-avatar">
                        <img src="avatars/mark.jpg">
                      </div>
                      <div class="stories-slider-user-name">mark_johnson</div>
                      <div class="stories-slider-user-date">30m</div>
                    </a>
                    <div class="stories-slider-actions">
                      <button class="stories-slider-close-button"></button>
                    </div>
                    <div class="stories-slider-content">
                      <img src="images/food-3.jpg">
                    </div>
                  <div class="stories-slider-button stories-slider-button-prev"></div><div class="stories-slider-button stories-slider-button-next"></div></div>
                  <!-- user's single story -->
                  <div class="swiper-slide" style="width: 414px;">
                    <a href="#" class="stories-slider-user">
                      <div class="stories-slider-user-avatar">
                        <img src="avatars/mark.jpg">
                      </div>
                      <div class="stories-slider-user-name">mark_johnson</div>
                      <div class="stories-slider-user-date">15m</div>
                    </a>
                    <div class="stories-slider-actions">
                      <button class="stories-slider-close-button"></button>
                    </div>
                    <div class="stories-slider-content">
                      <img src="images/food-4.jpg">
                    </div>
                  <div class="stories-slider-button stories-slider-button-prev"></div><div class="stories-slider-button stories-slider-button-next"></div></div>
                </div>
              <div class="stories-slider-pagination"><div class="stories-slider-pagination-bullet stories-slider-pagination-bullet-viewed"><span></span></div><div class="stories-slider-pagination-bullet stories-slider-pagination-bullet-viewed"><span></span></div><div class="stories-slider-pagination-bullet stories-slider-pagination-bullet-current"><span style="transform: translateX(0%); transition-duration: 12233.3ms;"></span></div><div class="stories-slider-pagination-bullet"><span></span></div><div class="stories-slider-pagination-bullet"><span></span></div></div></div>
            <div class="swiper-slide-shadow-left" style="opacity: 0;"></div><div class="swiper-slide-shadow-right" style="opacity: 0;"></div></div>
            <!-- specific user stories -->
            <div class="swiper-slide swiper-slide-next" style="width: 414px; transform: rotateX(0deg) rotateY(90deg) translate3d(0px, 0px, 0px); transition-duration: 0ms;">
              <div class="swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                  <!-- user's single story -->
                  <div class="swiper-slide swiper-slide-active" style="width: 414px;">
                    <a href="#" class="stories-slider-user">
                      <div class="stories-slider-user-avatar">
                        <img src="avatars/malenia.jpg">
                      </div>
                      <div class="stories-slider-user-name">malenia</div>
                      <div class="stories-slider-user-date">5h</div>
                    </a>
                    <div class="stories-slider-actions">
                      <button class="stories-slider-close-button"></button>
                    </div>
                    <div class="stories-slider-content">
                      <img src="images/elden-1.jpg">
                    </div>
                  <div class="stories-slider-button stories-slider-button-prev"></div><div class="stories-slider-button stories-slider-button-next"></div></div>
                  <!-- user's single story -->
                  <div class="swiper-slide swiper-slide-next" style="width: 414px;">
                    <a href="#" class="stories-slider-user">
                      <div class="stories-slider-user-avatar">
                        <img src="avatars/malenia.jpg">
                      </div>
                      <div class="stories-slider-user-name">malenia</div>
                      <div class="stories-slider-user-date">45m</div>
                    </a>
                    <div class="stories-slider-actions">
                      <button class="stories-slider-close-button"></button>
                    </div>
                    <div class="stories-slider-content">
                      <img src="images/elden-2.jpg">
                    </div>
                  <div class="stories-slider-button stories-slider-button-prev"></div><div class="stories-slider-button stories-slider-button-next"></div></div>
                  <!-- user's single story -->
                  <div class="swiper-slide" style="width: 414px;">
                    <a href="#" class="stories-slider-user">
                      <div class="stories-slider-user-avatar">
                        <img src="avatars/malenia.jpg">
                      </div>
                      <div class="stories-slider-user-name">malenia</div>
                      <div class="stories-slider-user-date">5m</div>
                    </a>
                    <div class="stories-slider-actions">
                      <button class="stories-slider-close-button"></button>
                    </div>
                    <div class="stories-slider-content">
                      <img src="images/elden-3.jpg">
                    </div>
                  <div class="stories-slider-button stories-slider-button-prev"></div><div class="stories-slider-button stories-slider-button-next"></div></div>
                </div>
              <div class="stories-slider-pagination"><div class="stories-slider-pagination-bullet stories-slider-pagination-bullet-current"><span style="transform:translateX(-72.24000000000001%)"></span></div><div class="stories-slider-pagination-bullet"><span></span></div><div class="stories-slider-pagination-bullet"><span></span></div></div></div>
            <div class="swiper-slide-shadow-left" style="opacity: 1;"></div><div class="swiper-slide-shadow-right" style="opacity: 0;"></div></div>
            <!-- specific user stories -->
            <div class="swiper-slide" style="width: 414px; transform: rotateX(0deg) rotateY(180deg) translate3d(414px, 0px, 414px); transition-duration: 0ms;">
              <div class="swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
                <div class="swiper-wrapper" style="transform: translate3d(-1242px, 0px, 0px); transition-duration: 0ms;">
                  <!-- user's single story -->
                  <div class="swiper-slide" style="width: 414px;">
                    <a href="#" class="stories-slider-user">
                      <div class="stories-slider-user-avatar">
                        <img src="avatars/john.jpg">
                      </div>
                      <div class="stories-slider-user-name">john1986</div>
                      <div class="stories-slider-user-date">15h</div>
                    </a>
                    <div class="stories-slider-actions">
                      <button class="stories-slider-close-button"></button>
                    </div>
                    <div class="stories-slider-content">
                      <img src="images/vacation-1.jpg">
                    </div>
                  <div class="stories-slider-button stories-slider-button-prev"></div><div class="stories-slider-button stories-slider-button-next"></div></div>
                  <!-- user's single story -->
                  <div class="swiper-slide" style="width: 414px;">
                    <a href="#" class="stories-slider-user">
                      <div class="stories-slider-user-avatar">
                        <img src="avatars/john.jpg">
                      </div>
                      <div class="stories-slider-user-name">john1986</div>
                      <div class="stories-slider-user-date">10h</div>
                    </a>
                    <div class="stories-slider-actions">
                      <button class="stories-slider-close-button"></button>
                    </div>
                    <div class="stories-slider-content">
                      <img src="images/vacation-2.jpg">
                    </div>
                  <div class="stories-slider-button stories-slider-button-prev"></div><div class="stories-slider-button stories-slider-button-next"></div></div>
                  <!-- user's single story -->
                  <div class="swiper-slide swiper-slide-prev" style="width: 414px;">
                    <a href="#" class="stories-slider-user">
                      <div class="stories-slider-user-avatar">
                        <img src="avatars/john.jpg">
                      </div>
                      <div class="stories-slider-user-name">john1986</div>
                      <div class="stories-slider-user-date">10h</div>
                    </a>
                    <div class="stories-slider-actions">
                      <button class="stories-slider-close-button"></button>
                    </div>
                    <div class="stories-slider-content">
                      <img src="images/vacation-3.jpg">
                    </div>
                  <div class="stories-slider-button stories-slider-button-prev"></div><div class="stories-slider-button stories-slider-button-next"></div></div>
                  <!-- user's single story -->
                  <div class="swiper-slide swiper-slide-active" style="width: 414px;">
                    <a href="#" class="stories-slider-user">
                      <div class="stories-slider-user-avatar">
                        <img src="avatars/john.jpg">
                      </div>
                      <div class="stories-slider-user-name">john1986</div>
                      <div class="stories-slider-user-date">8h</div>
                    </a>
                    <div class="stories-slider-actions">
                      <button class="stories-slider-close-button"></button>
                    </div>
                    <div class="stories-slider-content">
                      <img src="images/vacation-4.jpg">
                    </div>
                  <div class="stories-slider-button stories-slider-button-prev"></div><div class="stories-slider-button stories-slider-button-next"></div></div>
                  <!-- user's single story -->
                  <div class="swiper-slide swiper-slide-next" style="width: 414px;">
                    <a href="#" class="stories-slider-user">
                      <div class="stories-slider-user-avatar">
                        <img src="avatars/john.jpg">
                      </div>
                      <div class="stories-slider-user-name">john1986</div>
                      <div class="stories-slider-user-date">47m</div>
                    </a>
                    <div class="stories-slider-actions">
                      <button class="stories-slider-close-button"></button>
                    </div>
                    <div class="stories-slider-content">
                      <img src="images/vacation-5.jpg">
                    </div>
                  <div class="stories-slider-button stories-slider-button-prev"></div><div class="stories-slider-button stories-slider-button-next"></div></div>
                </div>
              <div class="stories-slider-pagination"><div class="stories-slider-pagination-bullet stories-slider-pagination-bullet-viewed"><span></span></div><div class="stories-slider-pagination-bullet stories-slider-pagination-bullet-viewed"><span></span></div><div class="stories-slider-pagination-bullet stories-slider-pagination-bullet-viewed"><span></span></div><div class="stories-slider-pagination-bullet stories-slider-pagination-bullet-current"><span style="transform:translateX(-70.82000000000001%)"></span></div><div class="stories-slider-pagination-bullet"><span></span></div></div></div>
            <div class="swiper-slide-shadow-left" style="opacity: 1;"></div><div class="swiper-slide-shadow-right" style="opacity: 0;"></div></div>
  
          </div>
        </div>
      </div>
</body>
</html>